.terraform/

# Terraform state
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
.terraform.tfstate.lock.info
backend.tf

# TF Env variables
dev.tfvars
test.tfvars
prod.tfvars

# Misc
docs/
plan.png